.side-bar {
    width: calc((100% - 1064px) / 2 + 150px) !important;
    background-color: #f60773 !important;
}

@media (min-width: 66.5rem){
    .main {
         margin-left: calc( (100% - 1064px) / 2 + 150px ) !important;
         max-width: 1000px !important;
    }
}
.side-bar nav ul li a {
    color : #fff !important;
}

.nav-list .nav-list-item .nav-list-link:hover {
    background-image: linear-gradient(-90deg, #f60773 0%, rgb(80 7 40) 80%, rgb(244 4 113) 100%) !important;
}
