.side-bar {
    width: calc((100% - 1064px) / 2 + 150px) !important;
    background-color: #f60773 !important;
}

@media (min-width: 66.5rem){
    .main {
        margin-left: calc( (100% - 1064px) / 2 + 150px ) !important;
         max-width: 1000px !important;
    }
}
a {
    color : #fff !important;
}
